      /* For 1024px */

      @media screen and (max-width:1024px) {
            .call_us {
                  margin-top: 35px;
            }

      }

      /* For 992px */

      @media screen and (max-width:992px) {
            .call_us {
                  float: right;
                  margin-top: 40px;
            }

            /* Work Section */
            .work_item_no {
                  margin-bottom: none;
            }

            .work_item {
                  display: none;
            }

            .journal_item {
                  width: 50%;
            }

            .work_body {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
            }

            .work_body_bg {
                  width: 50%;
                  margin: 0px;
            }

            .work_icon_white_bg {
                  margin: 0 auto;
                  width: 200px;
                  height: 200px;
            }

            .ico_bg {
                  margin-bottom: 2em;
            }

            .ico_bg h2,
            .ico_bg p {
                  margin-top: 2em;
            }

      }

      /* For 877px */

      @media screen and (max-width: 877px) {

            .about_us1 img,
            .about_us2 img {
                  display: none;
            }
      }

      /* For 768px */

      @media screen and (max-width:768px) {
            .header_bg {
                  background-color: unset;
            }

            .header_top .container {
                  padding-left: unset;
                  padding-right: unset;
            }

            .header_text {
                  margin-left: 15px;
                  margin-right: 15px;
            }

            .logo img {
                  display: none;
            }

            .call_us {
                  display: none;
            }

            .menuToggle {
                  display: block;
            }

            .menu {
                  width: 100%;
                  margin: unset;
                  float: unset;
                  display: none;
            }

            .menu ul {
                  margin-top: unset;
                  margin-left: unset;
                  width: 100%;
                  background: #0382c2;
            }

            .menu ul li {
                  display: block;
                  float: unset;
                  text-align: center;
                  margin-bottom: unset;
                  padding: 15px 0px;
                  border-top: 1px solid #b4b0b0;
            }

            .menu ul li a {
                  color: #fff;
            }

            .active {
                  display: block;
            }

            .call_us {
                  margin-top: 25px;
            }

            .call_us_btn a {
                  padding: 5px 15px;
            }

            .about_us1,
            .about_us2 {
                  display: none;
            }

            .aboute_us_content {
                  max-width: unset;
                  text-align: center;
            }

            .sign_up_form input {
                  padding: 5px;
                  width: 200px;
                  height: 35px;
            }

            .sign_up_btn {
                  width: 6em;
                  height: 35px;
                  padding: 7px 3px;
            }

            .sign_up_btn a {
                  font-size: 12px;
            }

            .sign_up_form {
                  margin-bottom: 10px;
            }

            p.sign_up_name input::-webkit-input-placeholder,
            p.sign_up_number input::-webkit-input-placeholder {
                  font-size: 12px;
            }

            p.sign_up_name input:-ms-input-placeholder,
            p.sign_up_number input:-ms-input-placeholder {
                  font-size: 12px;
            }

            p.sign_up_name input::-ms-input-placeholder,
            p.sign_up_number input::-ms-input-placeholder {
                  font-size: 12px;
            }

            p.sign_up_name input::placeholder,
            p.sign_up_number input::placeholder {
                  font-size: 12px;
            }

            .work_item_no {
                  margin-bottom: none;
            }

            .work_item {
                  display: none;
            }

            .journal_item {
                  width: 50%;
            }

            .work_body {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
            }

            .work_body_bg {
                  width: 50%;
                  margin: 0px;
            }

            .work_icon_white_bg {
                  margin: 2em 5em;
                  width: 200px;
                  height: 200px;
            }

      }

      /* For 640px */
      @media screen and (max-width: 640px) {
            .work_icon_white_bg {
                  margin: 0 auto;
            }

      }

      /* For 576px */

      @media screen and (max-width: 576px) {

            /* Journal Section */
            .journal_item {
                  width: 100%;
            }

            .overlay {
                  height: 100%;
            }

            /* Work Section */
            .work_icon_white_bg {
                  margin: 2em 2em;
            }

            .our_client_speech {
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                  flex-direction: column;
            }

      }

      /* For 522px */

      @media screen and (max-width: 522px) {

            /* Footer Section */
            .footer_content {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  text-align: center;
                  -webkit-box-align: unset;
                  -ms-flex-align: unset;
                  align-items: unset;
            }

            .footer_rights p {
                  font-size: 13px;
                  margin-bottom: 10px;
            }

            .footer_social .social_tw,
            .footer_social .social_vk {
                  padding: 8px;
            }

            .footer_social .social_fb {
                  padding: 8px 13px;
            }

            .footer_social {
                  margin-bottom: 10px;
            }

      }

      /* For 512px */

      @media screen and (max-width: 512px) {

            /* For Sign Up Form  */
            .sign_up_form {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                  flex-direction: column;
            }

            p.input_divider {
                  display: none;
            }

            .sign_up_form p {
                  margin-bottom: 20px;
            }

            .sign_up_form input {
                  width: 95%;
                  height: 40px;
            }

            /* For client list */
            .our_clients_content {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  -webkit-box-pack: unset;
                  -ms-flex-pack: unset;
                  justify-content: unset;
            }

            .our_clent {
                  width: 33%;
                  margin-top: 30px;
                  padding: 10px;
            }

      }

      /* For 506px */

      @media screen and (max-width: 506px) {
            .header_text h1 {
                  font-size: 24px;
            }

            .header_text h2 {
                  font-size: 24px;
            }

            .header_text {
                  border: unset;
            }

      }

      /* For 420px */

      @media screen and (max-width: 420px) {

            /* Work Section */
            .work_body_bg {
                  width: 100%;
            }

            .work_icon_white_bg {
                  margin: auto;
            }

            /* For Client Lists */
            .our_clent {
                  width: 33%;
                  margin-top: 30px;
                  padding: 10px;
            }

            .our_clients_content {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  -webkit-box-pack: unset;
                  -ms-flex-pack: unset;
                  justify-content: unset;
            }

            /* Footer Section */
            .footer_content {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  text-align: center;
                  -webkit-box-align: unset;
                  -ms-flex-align: unset;
                  align-items: unset;
            }

            .footer_rights p {
                  font-size: 13px;
                  margin-bottom: 10px;
            }

            .footer_social .social_tw,
            .footer_social .social_vk {
                  padding: 8px;
            }

            .footer_social .social_fb {
                  padding: 8px 13px;
            }

            .footer_social {
                  margin-bottom: 10px;
            }

            .pavliv_img,
            .john_img {
                  text-align: center;
            }

      }