/* For Mobile & Tablet Layout: 0px-991px Start */

@media screen and (max-width:991px) {

      .header_text h1 {
            font-size: 40px;
      }

      .header_text h2 {
            font-size: 50px;
            line-height: 49px;
      }

      .header_text p {
            max-width: unset;
      }

      .about_top {
            padding: 80px 0px;
      }

      .header_bg {
            background-color: unset;
      }

      .header_top .container {
            padding-left: unset;
            padding-right: unset;
      }

      .header_text {
            margin-left: 15px;
            margin-right: 15px;
            text-align: center;
            padding: 17px;
      }

      .logo img {
            display: none;
      }

      .call_us {
            display: none;
      }

      .menuToggle {
            display: block;
      }

      .menu_area.menu_area_for_toggle {
            display: block;
      }

      .menu {
            width: 100%;
            margin: unset;
            float: unset;
            display: none;
      }

      .menu ul {
            margin-top: unset;
            margin-left: unset;
            width: 100%;
            background: #0382c2;
      }

      .menu ul li {
            display: block;
            float: unset;
            text-align: center;
            margin-bottom: unset;
            padding: 15px 0px;
            border-top: 1px solid #b4b0b0;
      }

      .menu ul li a {
            color: #fff;
      }

      .active {
            display: block;
      }

      .call_us {
            margin-top: 25px;
      }

      .call_us_btn a {
            padding: 5px 15px;
      }

      .about_us1,
      .about_us2 {
            display: none;
      }

      .aboute_us_content {
            max-width: unset;
            text-align: center;
      }

      .sign_up_btn a {
            font-size: 12px;
      }

      .sign_up_form input {
            width: 100%;
      }

      .work_body {
            display: flex;
            flex-wrap: wrap;
      }

      .work_icon_white_bg {
            margin: 2em 5em;
            width: 200px;
            height: 200px;
      }


      .call_us {
            float: right;
            margin-top: 40px;
      }

      /* Work Section */
      .work_item_no {
            margin-bottom: none;
      }

      .journal_item {
            width: 50%;
      }

      .work_icon_white_bg {
            margin: 0 auto;
            width: 200px;
            height: 200px;
      }

      .ico_bg {
            margin-bottom: 2em;
      }

      .sign_up_top {
            padding: 80px 0px;
      }

      .work_body_bg {
            width: 50%;
      }
}

/* For Mobile & Tablet Layout: 0px-991px End */


/* Mobile Device Layout: 0px-767px Start */
@media only screen and (max-width: 767px) {
      .journal_item {
            width: 100%;
            height: 379px;
      }

      .sign_up_form {
            flex-direction: column;
      }

      .sign_up_btn {
            height: 35px;
            padding: 7px 3px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
      }

      .work_body_bg {
            width: 100%;
      }

      .our_clent {
            width: 30%;
            margin-bottom: 20px;
            text-align: center;
      }

      .our_client_speech {
            flex-wrap: wrap;
      }

      .john {
            margin-top: 50px;
      }

      .footer_content {
            flex-wrap: wrap;
            margin-bottom: 8px;
      }

      .footer_contact,
      .footer_social,
      .footer_rights {
            width: 100%;
            text-align: center;
      }

}

/* Mobile Device Layout: 0px-767px Start */


/* Small Mobile Device Layout: 0px-575px Start */
@media only screen and (max-width: 575px) {
      .our_clent {
            width: 50%;
      }
}

/* Small Mobile Device Layout: 0px-575px End */